@import url('https://fonts.googleapis.com/css2?family=Carter+One&display=swap');

:root{
    --sizeSudoku:100vw;
    --sizeCell:calc(var(--sizeSudoku)/9);
    --widthColumn:calc(var(--sizeSudoku)/3);
    --colorText:white;
    --fontSize:5vw;
    --fontSizeSudoku:8vw;
    --largeurPopupFin: 0px; /* défini via js */
    --windowHeight: 0px; /* défini via js */
    --positionLeft:0px;/* défini via js */
    --windowWidth:0px;/* défini via js */
    --leftEmoticonePerdu:0px; /* défini via js */
    --demineurWidth:0px;/* défini via js */
    --topPositionDemineur: 0px; /* défini via js */
    
  }
  
  body{
    margin: 1px;
  }
  
  
  
  button[value="1"]{
    font-size: 1.2rem;
    color: blue;
    font-weight: bold;
  }

  button[value="2"]{
    font-size: 1.2rem;
    color: rgb(56, 191, 46);
    font-weight: bold;
  }

  button[value="3"]{
    font-size: 1.2rem;
    color: red;
    font-weight: bold;
  }

  button[value="4"]{
    font-size: 1.2rem;
    color: rgb(85, 20, 20);
    font-weight: bold;
  }

  button[value="5"]{
    font-size: 1.2rem;
    color: rgb(60, 11, 64);
    font-weight: bold;
  }

  button[value="6"]{
    font-size: 1.2rem;
    color: rgb(3, 81, 18);
    font-weight: bold;
  }

  button[value="7"]{
    font-size: 1.2rem;
    color: rgb(105, 19, 105);
    font-weight: bold;
  }

  button[value="8"]{
    font-size: 1.2rem;
    color: black;
    font-weight: bold;
  }

  button[value="mine"]{
    /* background-image: url("../Images/mine.jpg"); */
    background-size: cover;
    color: transparent;
  }
  
  #choix-utilisateur{
    margin-left: auto;
    margin-right: auto; 
  }
  
  #choix-utilisateur div {
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: row;
    gap: 100px;
  }

  #mineFirst, #valeurFirst {
    width: 90px;
    height: 90px;
    border-radius: 20px;
    border: 5px outset #c0c0c0;
    cursor: pointer;
  }

  /* #mineFirst:hover, #valeurFirst:hover {
    box-shadow: 5px 5px 5px gold;
  }

  #mineFirst:active, #valeurFirst:active {
    border: 5px inset #c0c0c0;
    box-shadow: 5px 5px 5px rgb(255, 119, 0);
  } */

  #mineFirst{
    background-image: url("../Images/positionMine.jpg");
    background-size: cover;
  }

  #valeurFirst{
    background-image: url("../Images/chiffres.jpg");
    background-size: cover;
  }


  main{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;

  }
  
    #temps, #temps2{
      /* font-family: 'Segment7Standard'; */
      display: block;
      font-family: 'Cabin Sketch', cursive;
      font-size: calc(var(--fontSizeSudoku) * 0.8);
      color: gold;
      text-align: center;
      
  
    }
  
    #temps{
      display: none;
      margin-left: auto;
      margin-right: auto;
      /* text-align: center; */
    }
  
    #temps2{
      display: block;
      margin-top: -0.8rem;
      margin-bottom: 0.8rem;
      margin-left: auto;
      margin-right: auto;
      /* text-align: center; */
    }
  
    .cell {
      width:100%;
      height: 100%;
      border:  4px outset #c0c0c0;
      background-position: center;
      box-sizing: border-box;
      font-size: 0.8rem;
    }

    form {
      /* margin-top: 10px; */
      margin-left: auto;
      margin-right: auto;
      color: white;
      /* border: 1px solid #c0c0c0; */
      
    }

    .form {
      margin-top: 10px;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      border-radius: 10px;
    }

    #bandeauSuperieur{
      margin: 15px auto 0 auto;
      border: 15px ridge #c0c0c0;
      height: 50px;
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      align-items: center;
      background-color: rgb(230, 230, 230);
    }

    #tempsEcoule, #compteurMine {
      color: red;
      background-color: rgb(95, 1, 1);
      font-family: 'Cabin Sketch', cursive;
      font-size: 1.5rem;
      width: 80px;
      text-align: center;
      border-radius: 5px;
    }

    #buttonNouvellePartie{
      height: 45px;
      width: 45px;
      border-radius: 50%;
      background-position: center;
      background-size: contain;
      transition: transform .1s;
      background-image: url(../Images/emoticone-reflexion.png);
    }

    #buttonNouvellePartie:active {
      transform: scale(1.25);
    }

    .plateauDemineur {
      position: relative;
      display: grid;
      /* box-sizing: border-box; */
      border-collapse: collapse;
      margin: 0 auto 50px auto;
      border:  15px ridge #c0c0c0;
      /* width: 160px;
      height: 160px; */
      /* overflow-x: scroll; */
      /* overflow-y: scroll; */
      /* overflow: hidden; */
      
    }

  #container-test {
    width: 50%;
    margin: auto;
    position: relative;
  }

  #imagePerdu{
    width: 50px;
   position: absolute;
   left: var(--leftEmoticonePerdu);
   top: 151px;
   border-radius: 50%;
   animation: transformation 10s;
   /* transform: scale(5); */
   z-index: 2;
   opacity: 0.7;
   
  }

  #imagePerdu:hover {
    display: none;
  }

  @keyframes transformation {
    0%{
    transform: scale(1);
    }
    100%{
      transform: scale(5);
    }
  }

  #divTexteGagne {
    position: absolute;
    font-size: 2.5rem;
    top: 30vh;
    width: var(--largeurPopupFin);
    left: var(--positionLeft);
    z-index: 2;
    background: rgba(255, 255, 255, 0.5);
    border-radius: 10px;
    backdrop-filter: blur(1.5px);
    -webkit-backdrop-filter: blur(1.5px);
    animation: descente ease-out 2s;
  }

  @keyframes descente {
    0%{
      transform: translateY(-40vh);
      }
      20%{
        transform: translateY(-5vh) scaleY(0.3);
      }
      50%{
        transform: translateY(0) scaleY(0.6);
      }
      60%{
        transform: translateY(0) scaleY(1);
      }
      68%{
        transform: translateY(0) scaleY(1.2);
      }
      75%{
        transform: translateY(0) scaleY(0.85);
      }
      83%{
        transform: translateY(0) scaleY(1.1);
      }
      90%{
        transform: translateY(0) scaleY(0.95);
      }
      100%{
        transform: translateY(0) scaleY(1);
      }
  }

  #texteGagne {
    text-align: center;
    color: red;
    font-family: 'Carter One', cursive;
  }


  .fleche-gauche {
    position: absolute;
    top: calc(var(--topPositionDemineur) + 0.5 * var(--demineurWidth) + 25px);
    left: calc(0.5 * (var(--windowWidth) - var(--demineurWidth)));
    z-index: 2;
    width: 33px;
    height: 50px;
    clip-path: polygon(100% 0, 40% 50%, 100% 100%, 60% 100%, 0% 50%, 60% 0);
    background-color: rgba(233, 65, 65, 0.5);
  }

  .fleche-droite {
    position: absolute;
    top: calc(var(--topPositionDemineur) + 0.5 * var(--demineurWidth) + 25px);
    left: calc(var(--windowWidth) - 0.5 * (var(--windowWidth) - var(--demineurWidth)) - 33px);
    z-index: 2;
    width: 33px;
    height: 50px;
    clip-path: polygon(40% 0, 100% 50%, 40% 100%, 0% 100%, 60% 50%, 0% 0%);
    background-color: rgba(233, 65, 65, 0.5);
  }

  /* .fleche-haut {
    position: absolute;
    top: calc(0.5 * var(--topPositionDemineur) + 33px);
    left: calc(0.5 * var(--windowWidth) - 25px);
    z-index: 2;
    width: 50px;
    height: 33px;
    clip-path: polygon(100% 100%, 50% 40%, 0 100%, 0 60%, 50% 0, 100% 60%);
    background-color: rgba(233, 65, 65, 0.5);
  }

  .fleche-bas {
    position: absolute;
    top: 700px;
    left: 450px;
    z-index: 2;
    width: 75px;
    height: 50px;
    clip-path: polygon(100% 40%, 50% 100%, 0 40%, 0 0, 50% 60%, 100% 0);
    background-color: rgba(233, 65, 65, 0.5);
  } */
  
    @media screen and (min-width:600px) {
      :root{
        --sizeSudoku:85vw;
        --sizeCell:calc(var(--sizeSudoku)/9);
        --widthColumn:calc(var(--sizeSudoku)/3);
        --colorText:white;
        --fontSize:2.5vh;
        --fontSizeSudoku:4vh;
      }
  
      main {
  
        margin-top: 2vh;
      }

      /* .plateauDemineur {
        width: 320px;
      } */
      
    }
  
    @media screen and (min-width:800px) {
      :root{
        --sizeSudoku:70vw;
        --sizeCell:calc(var(--sizeSudoku)/9);
        --widthColumn:calc(var(--sizeSudoku)/3);
        --colorText:white;
        --fontSize:2.5vh;
        --fontSizeSudoku:4vh;
      }
  
      main {
  
        margin-top: 2vh;
      }
  
    }
  
    @media screen and (min-width:1200px) {
      :root{
        --sizeSudoku:60vh;
        --sizeCell:calc(var(--sizeSudoku)/9);
        --widthColumn:calc(var(--sizeSudoku)/3);
        --colorText:white;
        --fontSize:3vh;
        --fontSizeSudoku:4vh;
      }
  
      /* main {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        gap: 5vw;
        margin-top: 2vh;
      } */
  
      #temps{
        display: block;
        margin-left: auto;
        margin-right: auto;
        /* text-align: center; */
      }
    
      #temps2{
        display: none;
        margin-left: auto;
        margin-right: auto;
        /* text-align: center; */
      }
    }